@page
@model VideoWebapp.Pages.WatchVideoModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/youtube-clone.css">
    <title>VideoWeb App</title>
</head>
<body>
    <header class="header">
        @*<div class="logo">
            <i class="material-icons">menu</i>
        </div>*@
        <div class="search">
            <input type="text" placeholder="Search" style="height:40px; vertical-align:middle;">
            <button style="height:40px; vertical-align:middle;"><i class="material-icons">search</i></button>
        </div>
        @*<div class="user-options">
            <i class="material-icons">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">account_circle</i>
        </div>*@
    </header>
    <main class="main-content">
        @*<aside class="side-bar">
            <a class="nav-link active" asp-page="/Index"><i class="material-icons">home</i> Home</a>
            <a class="nav-link" asp-page="/Record"><i class="material-icons">whatshot</i> Recording</a>
            <a class="nav-link" asp-page="/Upload"><i class="material-icons">subscriptions</i> Videos Upload</a>
        </aside>*@
        <div class="content">
            @if (Model.Videos.Count < 1)
            {
                <h3>There are no videos uploaded, head to the video upload and make some!</h3>
            }
            else
            {
                <div class="video-grid">
                    @foreach (var video in Model.Videos)
                    {
                        <a href="/WatchVideo/@video.Id">
                            <div class="video-item">
                                <img src="@video.ThumbnailUrl" alt="Thumbnail">
                                <div class="video-info">
                                    <div class="title">@video.VideoTitle</div>
                                    @*<div class="info">100 views · 50 likes</div>*@
                                </div>
                            </div>
                        </a> 
                    }
                </div>
            }
        </div>
    </main>
    <script src="~/js/youtube-clone.js"></script>
</body>
</html>
