@page
@model IndexModel
@using VideoWebApp.Pages;

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="/watchvideo">Go to videos</a>
    <br />
    <a href="/livestream">live chat</a>
    <br />
    <a href="/Upload">Upload</a>
    <br />
    <a href="/Record">Record</a>
</div>
