@page
@model VideoWebapp.Pages.WatchVideoModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <div class="text-center">
        <a href="/watchvideo">Go to videos</a>
        <br />
        <a href="/livestream">Live chat</a>
        <br />
        <a href="/Upload">Upload</a>
        <br />
        <a href="/Record">Record</a>
    </div>

    <input type="text" id="searchBox" placeholder="Search videos..." class="search-box">

    <div class="video-grid">
        @foreach (var video in Model.Videos)
        {
            <a href="/WatchVideo/@video.Id">
                <div class="video-item" style="width: 400px;">
                    <img src="@video.ThumbnailUrl" alt="Video Thumbnail">
                    <div class="title">@video.VideoTitle</div>
                    <div class="info">100 views · 50 likes</div>
                </div>
            </a>        
        }
    </div>

    <script src="~/js/main.js"></script>
</body>
</html>
