@page
@model VideoWebapp.Pages.LiveStreamModel
@{
}
<a href="/Index">GO BACK</a>  <br />

<div>
    <video id="localVideo" autoplay muted style="transform:scaleX(-1); width:400px;"></video> <br />
</div>

<div>

</div>

<div>
    <form method="post">
        <button type="submit">Create Room</button>
        @*add join room with id*@
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var localVideo = document.getElementById('localVideo');
       

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    localVideo.srcObject = stream;
                })
        }
    });
</script>
