@page "/WatchVideo/{videoId}"
@model VideoWebapp.Pages.WatchVideoModel

<a href="/">GO BACK</a>

@if (Model.SelectedVideo.Id != 0)
{
    <div style="width:400px;">
        <video width="1200" poster="" controls>
            <source src="@Model.SelectedVideo.VideoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h3>@Model.SelectedVideo.VideoTitle</h3>
        <h5>@Model.SelectedVideo.VideoDescription</h5>
        @Model.SelectedVideo.ThumbnailPath

    </div>
}
else 
{
    <h6>Cant find the video</h6>
}
